
body{
  width: 100%;
  height: 100vh;
    min-width: 320px;
    margin: 0;
}
.logo{
    float: left;
    width: 12%;
    height: auto;
    fill: #f70713;
    line-height: normal;
    margin-top: 1.5rem;
    margin-left: 2.5rem ;
    z-index: -18865;
}

/** it is good to use some text for screen readers or qr scan */
.screen-reader-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
}




#button{

    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    float: right;
    border-radius: 4.5px;
    margin-top: 1.5em;
    direction: ltr;
    margin-right: 2.5rem ;
    z-index: -189856;

}

#button > a:link, a:visited {
    background-color:  #e50914;;
    color: white;

    text-align: center;
    text-decoration: none;
    float: right;
    text-decoration: none;
  }
  
  #button > a:hover, a:active {
    background-color: red;
  }
/** background image style*/

.image-bg{
    opacity: 75%;
    background-image: url("images/fight-in-the-dark-night.jpg");
    background-color: #cccccc;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: 8px solid #222;
  }

  

  /** / background image style*/

  /** texts in the middle*/

.texts{
  position: relative;
    width: 100%;
    height: 100vh;
    padding: 200px 0;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    vertical-align: none !important;

}



.small-text{ 
  color: white;
  max-width: none;
  text-align: center;
  font-size: 1.2rem; 
  padding-top: 20px;
}  

.small-text h3 {

  padding-bottom: 15px;
  max-width: 450px;
  font-weight: 400;

}

/** / texts in the middle*/


/** EMAIL AND SUBSCRIBTION BUTTONS*/

.email.button{
  text-align: center;
  
  
}

#horizontal-list{
  display: inline;

 
}
#horizontal-list li {
  display: inline;
}


.email-text{

  margin-top:12px;
  width: 450px;
  height: 52px !important;
  line-height: normal;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 4.5px;
  z-index: -189856;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  border: solid 1px #000000;
  appearance: none;
}

.btn{
  
  margin-top:12px;
  background-color: #b58a8c;
  line-height: normal !important;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 4.5px;
  width: 250px;
  height: 52px !important;
  z-index: -189856;
 vertical-align: baseline !important;
}

.btn > a:link, a:visited {
  background-color:  #e50914;;
  color: white;
  text-decoration: none;
}

.btn > a:hover, a:active {
  background-color: red;
}

/** / EMAIL AND SUBSCRIBTION BUTTONS*/

.s-text{ 
  color: white;
  max-width: none;
  text-align: center;
  font-size: 1.1rem; 
  padding-top: 10px;
}  

.s-text h3 {

  padding-bottom: 18px;
  max-width: 450px;
  font-weight: 400;

}

/** Second part */
.firstblack-background{
  width: 100%;
  height: 80vh;
    padding: 70px 45px;
    position: relative;
    border-bottom: 8px solid #222;
    padding: 50px 5%;
    margin-bottom: 0;
    background: 0 0;
    color: #fff;
   background-color: black;
}

.second-text{
  
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;

}


.second-text > .medium-text {

    font-size: 1.625rem;
    font-weight: 400;
}

.second-text > h2 {
  margin: .75em 0 .25em;
}

.second-text img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  object-fit: contain;
  object-position: center;
  align-self: center;
  max-width: 100%;
  height: 350px;
}

.second {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: center;
  align-content: center;
}
.second p {
  font-size: 1.5rem;
  margin-top: 5px;
}

.second h1 {
  font-size: 3.125rem;
}
/**End of Second division*/

/** THird section*/

.secondblack-background{
    width: 100%;
    height: 80vh;
      padding: 70px 45px;
      position: relative;
      border-bottom: 8px solid #222;
      padding: 50px 5%;
      margin-bottom: 0;
      background: 0 0;
      color: #fff;
     background-color: black;
  }
  
  .container1{
    
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      justify-content: space-between;
      margin: -2% 0;
      width: 52%;
      -moz-box-flex: 0;
      flex: 0 1 auto;
      padding: 0 3rem 0 0;
      z-index: 3;
    
  }
  
  
  .second-text > p {
  
      font-size: 1.625rem;
      font-weight: 400;
  }
  
  .second-text > h2 {
    margin: .75em 0 .25em;
  }
  

  
  .text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: center;
    align-content: center;
    display: inline-block;
  }
  .text p {
    font-size: 1.5rem;
    margin-top: 5px;
  }
  
  .text h1 {
    font-size: 3.125rem;
  }
/** End of Third section*/

/** FIFTH SECTION*/

.faq-questions{
  font-size: 1rem;
  text-align: center;
  color:#fff;
}

.faq-items{
  list-style-type: none;
  margin: 0 0 8px 0; 
}
.faq-questions {
  width: 100%;
  height: 100vh;
  background-color: #000;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  width: 100%;
  height: 100vh;
    padding: 70px 45px;
    position: relative;
    border-bottom: 8px solid #222;
    padding: 50px 5%;
    margin-bottom: 0;
    background: 0 0;
    color: #fff;
   background-color: black;
}

.faq-question h1 {
  text-align: center;
  color: white;
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq-items {
  width: 51%;
  height: 75px;
  background-color: #303030;
  color: white;
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-align: left;
  flex-direction: row;
  margin: 5px 0;
}

.faq-items .faq-links {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-self: center;
  font-size: 18px;
  padding-left: 35px;
  margin: 0 auto;
  word-spacing: 2px;
}

.faq-items i {
  margin: 0 30px;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.faq-items:focus {
  background-color: red;
}

/**END OF FIFTH SECTION*/



/**FOOTER**/
.footer-style{
    width: 100%;
    height: 100vh;
    padding: 70px 45px;
    position: relative;
    border-bottom: 8px solid #222;
    margin-bottom: 0;
    background: 0 0;
    color: #fff;
    background-color: black;
    border-bottom: none;
    padding-bottom: 0;
    color: rgb(172, 168, 168);
    text-decoration: none;
}
.footer-top a {
  text-decoration: none;
  color:rgb(112, 106, 106);
}
.footer-link{
  text-decoration: none;
  color: rgb(112, 106, 106);
}
.footer-style > ul> li {
    list-style: none;
  }

  .footer-link-item{
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    padding-right: 0px;
    margin-bottom: 16px;
    display: inline-block;
    min-width: 100px;
    width: 25%;
    padding-right: 12px;
    vertical-align: top;
}

.lang-selection-container{
  padding-bottom: 10px;
}
/**End of FOOTER*/

/**Media Rules*/


@media (min-width: 250px) and (max-width: 980px) {

.image-bg{
  width: 100%;
  height:70vh;
}

  .logo{
    float: left;
    width: 22%;
    height: auto;
    fill: #f70713;
    line-height: normal;
    margin-top: 2.5rem !important;
    margin-left: 2.5rem ;
    z-index: -18865;
    font-size: 3rem;
  }

#button{

  background-color: #e50914;
  line-height: normal;
  padding: 7px 17px;
  font-weight: 400;
  font-size: 2rem;
  float: right;
  border-radius: 4.5px;
  margin-top: 1.5em;
  direction: ltr;
  margin-right: 2.5rem ;
  z-index: -189856;

}

#button > a:link, a:visited {
  background-color:  #e50914;;
  color: white;

  text-align: center;
  text-decoration: none;
  float: right;
  text-decoration: none;
}

#button > a:hover, a:active {
  background-color: red;
}

.big-text{
  font-size: 3.8rem;
  margin-top:30%;
  font-weight:800;
}

  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
  }

  

  .container1 img {
    width: 60%;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text h1 {
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text p {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .faq-questions .faq-items {
    font-size: 20px;
    
  }

  .faq-questions {
    width: 100%;
    min-height: 75px;
  }

  /** texts in the middle*/

  .texts{
    position: relative;
      width: 100%;
      height: 50vh;
      padding: 200px 0;
      max-width: 950px;
      margin: 0 auto;
      text-align: center;
      color: #ffffff;
      z-index: 1;
      vertical-align: none !important;
  
  }
  
  .medium-text{
    font-size:3.6rem;

  }
  
  .small-text{ 
    color: white;
    max-width: none;
    text-align: center;
    padding-top: 20px;
    font-size:2.8rem;
  }  
  
  .small-text h3 {
  
    padding-bottom: 15px;
    max-width: 450px;
    font-weight: 400;
  
  }
  
  /** / texts in the middle*/
  
  
  /** EMAIL AND SUBSCRIBTION BUTTONS*/
  
  .email.button{
    text-align: center;
    
    
  }
  
  #horizontal-list{
    display: inline;
  
   
  }
  #horizontal-list li {
    display: inline;
  }
  
  
  .email-text{
  
    margin-top:12px;
    width: 500px;
    height: 80px !important;
    line-height: normal;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 4.5px;
    z-index: -189856;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    border: solid 1px #000000;
    appearance: none;
    margin-bottom: 2% !important;
  }
  
  .btn{
    
    margin-top:12px;
    background-color: #b58a8c;
    line-height: normal !important;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 4.5px;
    width: 250px;
    height: 80px !important;
    z-index: -189856;
   vertical-align: baseline !important;
  }
  
  .btn > a:link, a:visited {
    background-color:  #e50914;;
    color: white;
    text-decoration: none;
  }
  
  .btn > a:hover, a:active {
    background-color: red;
  }
  
  /** / EMAIL AND SUBSCRIBTION BUTTONS*/
  
  .s-text{ 
    color: white;
    max-width: none;
    text-align: center;
    font-size: 2rem; 
    padding-top: 10px;
  }  
  
  .s-text h3 {
  
    padding-bottom: 18px;
    max-width: 450px;
    font-weight: 400;
  
  }
  
  /** Second part */
  .firstblack-background{
    width: 100%;
    height: 50vh;
      padding: 70px 45px;
      position: relative;
      border-bottom: 8px solid #222;
      padding: 50px 5%;
      margin-bottom: 0;
      background: 0 0;
      color: #fff;
     background-color: black;
  }
  
  .second-text{
    
      max-width: 1100px;
      margin: 0 auto;
      display: block;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      justify-content: space-between;
      margin-top:10%;
      text-align: center;
  
  }
  
 

  .second-text > .medium-text {
  
      font-size: 3rem;
      font-weight: 400;
  }
  
  .second-text > h2 {
    margin: .75em 0 .25em;
  }
  
  .second-text img {
    display: block;
    justify-content: center;
    flex-direction: row;
    object-fit: contain;
    object-position: center;
    align-self: center;
    max-width: 100%;
    height: 500px;
  }
  
  .second {
    color: white;
    display: block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: center;
    align-content: center;
  }
  .second p {
    font-size: 2.5rem;
    margin-top: 5px;
  }
  
  .second h1 {
    font-size: 3.5rem;
  }

  .image{
    display:block;
    text-align: center;
    margin-left:28%;
  }

.stranger-things{
  margin-right: 55%;

  }

  /**End of Second division*/
  
  /** THird section*/
  
  .secondblack-background{
    width: 100%;
    height: 50vh;
      padding: 70px 45px;
      position: relative;
      border-bottom: 8px solid #222;
      padding: 50px 5%;
      margin-bottom: 0;
      background: 0 0;
      color: #fff;
     background-color: black;
  }
  
  .container1 img {
    max-width: 100%;
    height: 500px;
  }
  
  .container1 .st-video{
    display: relative;
   
  }
  .third-item-video{
    margin-top:40%;
    margin-right:52%;
  }
  
 .container1 { display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}
  .text p {
    font-size: 2.5rem;
    margin-top: 5px;
  }
  
  .text h1 {
    font-size: 3.125rem;
  }
  
  /** End of Third section*/
  
  /** FIFTH SECTION*/
  
  
  .faq-questions{
    font-size: 2rem;
    text-align: center;
    color:#fff;
  }
  
  .faq-items{
    list-style-type: none;
    margin: 0 0 8px 0; 
  }
  .faq-questions {
    width: 100%;
    height: 50vh;
    background-color: #000;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
      padding: 70px 45px;
      position: relative;
      border-bottom: 8px solid #222;
      padding: 50px 5%;
      margin-bottom: 0;
      background: 0 0;
      color: #fff;
     background-color: black;
  }
  
  .faq-question h1 {
    text-align: center;
    color: white;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:2%;
   font-size: 0.5rem;
  }
  
  .faq-items {
    width: 51%;
    height: 75px;
    background-color: #303030;
    color: white;
    align-items: center;
    justify-content: space-between;
    display: flex;
    text-align: left;
    flex-direction: row;
    margin-top:3%;
  }
  
  .faq-items .faq-links {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    font-size: 18px;
    padding-left: 35px;
    margin: 0 auto;
    word-spacing: 2px;
  }
  
  .faq-items i {
    margin: 0 30px;
    font-size: 40px;
    color: rgb(255, 255, 255);
  }
  
  .faq-items:focus {
    background-color: red;
  }
  

  .email-text{
    margin-bottom:25%;
  }
.faq-questions > .email-text {
  margin-bottom: 20%;
}

  /**END OF FIFTH SECTION*/
  
  
  
  /**FOOTER**/
  .footer-style{
      width: 100%;
      height: 30vh;
      position: relative;
      border-bottom: 8px solid #222;
      margin-bottom: 0;
      background: 0 0;
      color: #fff;
      background-color: black;
      border-bottom: none;
      padding-bottom: 10%;
      color: rgb(172, 168, 168);
      text-decoration: none;
      
     
  }


  .footer-top a {
    padding-top:50%;
    text-decoration: none;
    color:rgb(112, 106, 106);
  
  }
  
.footer-top{
  margin-top:10%;
}
  .footer-link{
    text-decoration: none;
    color: rgb(112, 106, 106);
  }
  .footer-style > ul> li {
      list-style: none;
    }
  
    .footer-link-item{
      
      text-decoration: none;
      box-sizing: border-box;
      display: inline-block;
      min-width: 100px;
      width: 25%;
      padding-right: 12px;
      vertical-align: top;
  }
  
  .lang-selection-container{
    padding-bottom: 10px;
  }
  /**End of FOOTER*/

}





@media (min-width: 760px) and (max-width:981px) {


  .image-bg{
    width: 100%;
    height:100vh;
  }
  
    .logo{
      float: left;
      width: 22%;
      height: auto;
      fill: #f70713;
      line-height: normal;
      margin-top: 2.5rem !important;
      margin-left: 2.5rem ;
      z-index: -18865;
      font-size: 3rem;
    }
  
  #button{
  
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 2rem;
    float: right;
    border-radius: 4.5px;
    margin-top: 1.5em;
    direction: ltr;
    margin-right: 2.5rem ;
    z-index: -189856;
  
  }
  
  #button > a:link, a:visited {
    background-color:  #e50914;;
    color: white;
  
    text-align: center;
    text-decoration: none;
    float: right;
    text-decoration: none;
  }
  
  #button > a:hover, a:active {
    background-color: red;
  }
  
  .big-text{
    font-size: 2.5rem;
    margin-top:-5%;
    font-weight:800;
  }
  
    .container1 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      align-self: center;
    }
  
    
  
    .container1 img {
      width: 60%;
    }
  
    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .text h1 {
      font-size: 1rem;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .text p {
      font-size: 1.2rem;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .faq-questions .faq-items {
      font-size: 20px;
      
    }
  
    .faq-questions {
      width: 100%;
      min-height: 75px;
    }
  
    /** texts in the middle*/
  
    .texts{
      position: relative;
        width: 100%;
        height: 100vh;
        padding: 200px 0;
        max-width: 950px;
        margin: 0 auto;
        text-align: center;
        color: #ffffff;
        z-index: 1;
        vertical-align: none !important;
    
    }
    
    .medium-text{
      font-size:2rem;
  
    }
    
    .small-text{ 
      color: white;
      max-width: none;
      text-align: center;
      padding-top: 20px;
      font-size:1.5rem;
    }  
    
    .small-text h3 {
    
      padding-bottom: 15px;
      max-width: 450px;
      font-weight: 400;
    
    }
    
    /** / texts in the middle*/
    
    
    /** EMAIL AND SUBSCRIBTION BUTTONS*/
    
    .email.button{
      text-align: center;
      
      
    }
    
    #horizontal-list{
      display: inline;
    
     
    }
    #horizontal-list li {
      display: inline;
    }
    
    
    .email-text{
    
      margin-top:12px;
      width: 300px;
      height: 52px !important;
      line-height: normal;
      font-weight: 400;
      font-size: 1rem;
      border-radius: 4.5px;
      z-index: -189856;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      box-shadow: none;
      box-sizing: border-box;
      border: solid 1px #000000;
      appearance: none;
      margin-bottom: 2% !important;
    }
    
    .btn{
      
      margin-top:12px;
      background-color: #b58a8c;
      line-height: normal !important;
      font-weight: 400;
      font-size: 1rem;
      border-radius: 4.5px;
      width: 240px;
      height: 52px !important;
      z-index: -189856;
     vertical-align: baseline !important;
    }
    
    .btn > a:link, a:visited {
      background-color:  #e50914;;
      color: white;
      text-decoration: none;
    }
    
    .btn > a:hover, a:active {
      background-color: red;
    }
    
    /** / EMAIL AND SUBSCRIBTION BUTTONS*/
    
    .s-text{ 
      color: white;
      max-width: none;
      text-align: center;
      font-size: 1rem; 
      padding-top: 10px;
    }  
    
    .s-text h3 {
    
      padding-bottom: 18px;
      max-width: 450px;
      font-weight: 400;
    
    }
    
    /** Second part */
    .firstblack-background{
      width: 100%;
      height: 100vh;
        padding: 70px 45px;
        position: relative;
        border-bottom: 8px solid #222;
        padding: 50px 5%;
        margin-bottom: 0;
        background: 0 0;
        color: #fff;
       background-color: black;
    }
    
    .second-text{
      
        width:100%;
        margin: 0 auto;
        display: block;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        justify-content: space-between;
        margin-top:-8%;
        text-align: center;
    
    }
    
   
  
    .second-text > .medium-text {
    
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    .second-text > h2 {
      margin:-2%;
    }
    
    .second-text img {
      display: block;
      justify-content: center;
      flex-direction: row;
      object-fit: contain;
      object-position: center;
      align-self: center;
      max-width: 100%;
      height: 200px;
    }
    
    .second {
      color: white;
      display: block;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      align-self: center;
      align-content: center;
    }
    .second p {
      font-size: 1.5rem;
      margin-top: 5px;
    }
    
    .second h1 {
      font-size: 2.5rem;
      margin-bottom: 5px !important;
    }
  
    .image{
      display:block;
      text-align: center;
      margin-left:28%;
    }
  
  .stranger-things{
    margin-right: 55%;
  
    }
  
    /**End of Second division*/
    
    /** THird section*/
    
    .secondblack-background{
      width: 100%;
      height: 100vh;
        padding: 70px 45px;
        position: relative;
        border-bottom: 8px solid #222;
        padding: 50px 5%;
        margin-bottom: 0;
        background: 0 0;
        color: #fff;
       background-color: black;
    }
    
    .container1 img {
      max-width: 100%;
      height: 500px;
    }
    
    .container1 .st-video{
      display: relative;
     
    }
    .third-item-video{
      margin-top:-10%;
      margin-right:52%;
    }
    
   .container1 { 
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      align-self: center;
  }
    .text p {
      font-size: 2rem;
      margin-top: 5px;
    }
    
    .text h1 {
      font-size: 1.5rem;
      
    }
    
    /** End of Third section*/
    
    /** FIFTH SECTION*/
    
    
    .faq-questions{
      font-size: 1.5rem;
      text-align: center;
      color:#fff;
    }
    
    .faq-items{
      list-style-type: none;
    }

    .faq-questions {
      width: 100%;
      height: 100vh;
      background-color: #000;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      text-align: center;
        padding: 70px 45px;
        position: relative;
        border-bottom: 8px solid #222;
        padding: 50px 5%;
        margin-bottom: 0;
        background: 0 0;
        color: #fff;
       background-color: black;
    }
    
    .faq-question h1 {
      text-align: center;
      color: white;
      margin-bottom: 50px;
      text-align: center;
      font-size: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top:20%;
     font-size: 0.3rem;
    }
    
    .faq-items {
      width: 51%;
      height: 75px;
      background-color: #303030;
      color: white;
      align-items: center;
      justify-content: space-between;
      display: flex;
      text-align: left;
      flex-direction: row;
      margin-top:0%;
    }
    
    .faq-items .faq-links {
      display: flex;
      text-align: center;
      justify-content: center;
      justify-items: center;
      align-self: center;
      font-size: 18px;
      padding-left: 35px;
      margin: 0 auto;
      word-spacing: 2px;
    }
    
    .faq-items i {
      margin: 0 30px;
      font-size: 40px;
      color: rgb(255, 255, 255);
    }
    
    .faq-items:focus {
      background-color: red;
    }
    
  
    .email-text{
      margin-bottom:25%;
    }
  .faq-questions > .email-text {
    margin-bottom: 20%;
  }
  
    /**END OF FIFTH SECTION*/
    
    
    
    /**FOOTER**/
    .footer-style{
        width: 100%;
        height: 120vh;
        position: relative;
        border-bottom: 8px solid #222;
        margin-bottom: 0;
        background: 0 0;
        color: #fff;
        background-color: black;
        border-bottom: none;
        padding-bottom: 10%;
        color: rgb(172, 168, 168);
        text-decoration: none;
        
       
    }
  
  
    .footer-top a {
      text-decoration: none;
      color:rgb(112, 106, 106);
    
    }
    
  .footer-top{
    margin-top:0%;
  }
    .footer-link{
      text-decoration: none;
      color: rgb(112, 106, 106);
    }
    .footer-style > ul> li {
        list-style: none;
      }
    
      .footer-link-item{
        
        text-decoration: none;
        box-sizing: border-box;
        display: inline-block;
        min-width: 100px;
        width: 25%;
        padding-right: 12px;
        vertical-align: top;
    }
    
    .lang-selection-container{
      margin-bottom:10px;
    }
    /**End of FOOTER*/
  
  .firstblack-background > .second > h1 {
    margin-top: 0% !important;
  }
  .stranger-things{
    margin-top: 2% !important;
    height: 250px !important;
  }
 
  }
